body {
	background: #666666;
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	text-decoration-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

#container {
	background: #FFFFFF;
	margin: 10px auto;
	width: 770px;
	border: 2px solid #000000;
	color: #ffffff;
	
}
header{
	background-image:url('../images/banner_bg.jpg'); 
	background-repeat:no-repeat;
	height:110px;
}
#twocolumns {
	display: table;
}
nav{
	display: table-cell;
	width:25%;
	background-color: #9433cc;
	border-bottom:1px solid #000000;

}
nav ul{
background:#53314a13;
margin:0px;
padding:0px;
}
nav ul li{
	list-style-type:none;
}
nav ul li a{
	display: block;
	color:#FFFFFF;
	background:#9433cc31;
	text-decoration:none;
	padding:10px 25px; 
	border-right:2px solid #000000;
}
nav ul li a:hover {
	background: #9900850c;
}
article {
	display: table-cell;
	width:75%;
	background:rgb(83, 30, 107);
}
article p{
	font-size:110%;
	margin:20px;
	text-decoration-color:#FFFFFF;
}
article h1{
	font-size:130%;
	color:#FFFFFF;
	margin:20px;
	padding:0px;
}
article h2{
	font-size:110%;
	color:#FFFFFF;
	margin:20px;
	padding:0px;
	float: left;
}
.leftimage{
	float:left;
	margin-right:10px;
	border: 1px solid #000000;
	margin-left: 10px;
}
footer{

	color:#FFFFFF;
	background:#8c0d97ee;
	border-top:1px solid #000000;
}
footer p{
	font-size:70%;
	margin:0px;
	padding:10px;
	text-align:center;
}
.rightimage{
	float:right;
	margin-right:10px;
	border: 1px solid #000000;
	margin-top: 10px;
}
article h3{
	font-size:100%;
	color:#FFFFFF;
	margin:20px;
	padding:0px;
}
.lol{
	float:right;
	border: 1px solid #000000;
	width: 520px;
}
.loloy{
	float:right;
	border: 1px solid #000000;
	width: 520px;
	margin-left: 10px;
}
.rightimage2{
	float:right;
	margin-right:10px;
	border: 1px solid #000000;
	margin-top: 10px;
	width: 250px;
	margin-bottom:10px;
}
.leftimage2{
	float:left;
	margin-right:10px;
	border: 1px solid #000000;
	margin-left: 10px;
	width: 250px;
	margin-bottom:10px;
}
.rightimage3{
	float:right;
	margin-right:10px;
	border: 1px solid #000000;
	margin-top: 60px;
	width: 250px;
	margin-bottom:10px;
}
